<mat-toolbar color="primary">
  <mat-toolbar-row>
    <nav>
      <div routerLink="/">
        <span>Home</span>
        <span class="spacer"></span>
        <mat-icon class="header-icon">home</mat-icon>
      </div>
      <div></div>
      <div routerLink="/menu">
        <span>Menu</span>
        <span class="spacer"></span>
        <mat-icon class="header-icon">library_books</mat-icon>
      </div>
      <div>
        <span>Cart</span>
        <span class="spacer"></span>
        <mat-icon class="header-icon">shopping_cart</mat-icon>
      </div>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
