mat-toolbar {
  mat-toolbar-row {
    nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-align: right;
      div {
        flex-grow: 2;
        flex-basis: 100px;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        outline: none;
        &:nth-child(1) {
          flex-grow: 3;
          justify-content: flex-start;
        }
        &:nth-child(2) {
          flex-grow: 20;
        }
        .spacer{
          width: 10px;
        }
        @media screen and (max-width: 480px) {
          & {
            flex-basis: 40px;
          }
          span {
            display: none;
          }
          .spacer{
            width: 0;
          }
        }
      }
    }
  }
}
